/* ------------ MOBILE HEADER ------------ */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* ------------ DESKTOP HEADER ------------ */
@media (min-width: 992px) {
  .desktop-header {
    display: inline-block;
  }
}

@media (min-width: 1150px) {
  .navigation-list__anchor,
  .login-btn {
    font-size: 1rem;
  }

  .desktop-header__logo {
    width: 210px;
  }
}

/* ------------ HERO SECTION ------------ */
@media (min-width: 992px) {
  .hero-section {
    margin-top: 91.625px;
  }
}

@media (min-width: 1150px) {
  .hero-section {
    margin-top: 100.219px;
  }
}

@media (min-width: 546px) {
  .hero-section {
    height: 700px;
  }

  .hero-intro {
    max-width: 491.391px;
  }

  .hero__image--mobile {
    max-width: 546px;
  }
}

@media (min-width: 860px) {
  .hero__image--mobile {
    max-width: 650px;
  }
}

@media (min-width: 992px) {
  .hero-section {
    height: 655px;
  }

  .hero-section__inner {
    padding: 0;
    width: 95%;
  }

  .hero-intro {
    max-width: none;
  }

  .hero-intro__heading {
    max-width: 550px;
    font-size: 3.8rem;
  }

  .hero-intro__caption {
    max-width: 480px;
    font-size: 1.2rem;
  }

  .hero__image--mobile {
    max-width: 850px;
    display: inline-block;
    position: absolute;
    object-position: 0 60px;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 1236px) {
  .hero-intro {
    position: relative;
    top: 60px;
  }
  .hero-section {
    height: 610px;
  }

  .hero-section__inner {
    position: relative;
    height: 100%;
  }

  .hero__image--mobile {
    display: none;
  }

  .hero__image--desktop {
    display: inline-block;
    position: absolute;
    object-position: 0 70px;
    bottom: 0;
    right: 0;
    width: 900px;
  }
}

@media (min-width: 1396px) {
  .hero__image--desktop {
    width: 1050px;
  }

  .hero-section__inner {
    left: 75px;
  }

  .hero-intro__heading {
    font-size: 4rem;
    max-width: 600px;
  }

  .hero-intro__caption {
    font-size: 1.4rem;
    max-width: 540px;
  }
}
