:root {
  --fnt-1: "DM Sans", sans-serif;
  --fnt-2: "DM Serif Display", serif;
  --fnt-3: "DM Serif Text", serif;

  /* Colors */
  --pmr-color: #ef8094;

  /* Widths */
  --mx-width: 1300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------ MOBILE HEADER ------------ */
.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.mobile-header__icon {
  font-size: 2.5rem;
}

/* ------------ DESKTOP HEADER ------------ */
.desktop-header {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.desktop-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 95%;
  max-width: var(--mx-width);
  margin: 0 auto;
}

.navigation {
  margin-left: auto;
  margin-right: 45px;
}

.navigation-list {
  display: flex;
  gap: 45px;
}

.navigation-list__item {
  list-style: none;
}

.navigation-list__anchor {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  font-family: var(--fnt-1);
  letter-spacing: 1.2px;
  font-weight: 600;
}

.login-btn {
  text-decoration: none;
  font-size: 0.8rem;
  border: 2px solid black;
  border-radius: 20px;
  padding: 8px 30px;
  font-family: var(--fnt-1);
  letter-spacing: 1.2px;
  font-weight: 600;
}

/* ------------ HERO SECTION ------------ */
.hero-section {
  margin-top: 71.625px;
  background-color: #f5f8ff;
  position: relative;
  height: 930px;
  overflow-x: hidden;
}

.hero-section__inner {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.hero-intro {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-intro__heading {
  font-size: 3rem;
}

.hero-intro__caption {
  font-size: 1.2rem;
  font-family: var(--fnt-1);
}

.signup-btn {
  border: 4px solid var(--pmr-color);
  border-radius: 25px;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 40px;
  text-decoration: none;
  font-family: var(--fnt-1);
  color: black;
}

.signup-btn:hover {
  background-color: white;
}

.hero__image--tablet,
.hero__image--desktop {
  display: none;
}

.hero__image--mobile {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 450px;
}

/* ------------ PLANS SECTION ------------ */
.plans-section {
  margin: 70px 0;
}

.section-subtitle {
  text-align: center;
}

.section-subtitle__text {
  font-size: 2.5rem;
}

.plans-wrapper {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.plan-card {
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0.132);
  border-radius: 5px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  max-width: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.plan-card:nth-of-type(1) {
  background-image: url("/assets/images/monthly-plan-bg.svg");
}
.plan-card:nth-of-type(2) {
  background-image: url("/assets/images/yearly-plan-bg.svg");
}

.plan-card__period {
  font-size: 1.5rem;
  font-weight: 700;
}

.plan-card__price {
  font-size: 2rem;
  font-family: var(--fnt-1);
}

.plan-card__btn {
  background-color: var(--pmr-color);
  color: white;
  font-family: var(--fnt-1);
  font-size: 0.7rem;
  text-decoration: none;
  letter-spacing: 1.2px;
  padding: 13px 25px;
  border-radius: 20px;
}

.plans-section__disclaimer {
  font-size: 1.1rem;
  font-family: var(--fnt-1);
  margin: 15px 30px 0 30px;
}
